@model IEnumerable<MoviePass.Models.Movie>
@{ ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (!Model.Any())
{
    <p>No Movies Found</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    <strong> Movies</strong>
                </th>
                <th>
                    <strong> Genre</strong>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
            <tr>
                <td>
                    @Html.ActionLink(movie.Name, "Details", "Movie", new { id = movie.Id }, null)
                </td>
                <td>
                    @movie.Genre
                </td>
            </tr>
            }



        </tbody>
    </table>

}